@import 'variables';
@import 'normalize-css/normalize';
@import 'leaflet.markercluster/dist/MarkerCluster';
@import 'leaflet.markercluster/dist/MarkerCluster.Default';
@import 'grid';

body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 95%;
}

#map {
  height: 90%;
}
