<!DOCTYPE html>
<html>
<head>
  <title>Coventry Fire Department Hydrants Project</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src='http://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
  <script src="/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" href="/app.css" media="screen, projection">
</head>
<body>
  <header>
    <form>
      <input name="address" type="text" placeholder="Enter an address">
      <input type="submit" value="Search">
      <button data-for="current-location">Use Current Location</button>
      <p><a data-for="show-more-info" href="#">What is this?</a></p>
      <div class="more-info hidden">
        <hr>
        <p>This will show the locations of fire hydrants in south Summit County that are within 1000 meters from the middle of the map.</p>
        <p>You can click the "Use Current Location" button to center the map on your current location.
          You can also enter an address in the search box to jump to that point on the map.</p>
      </div>
    </form>
  </header>
  <div id="map"></div>

  <script>
    // window.onerror = function(error) {
    //   alert(error);
    // }

    function redrawMap() {
      $('#map').css('height', $(window).height() - $('header').outerHeight());
      requestAnimationFrame(function() {
        map.invalidateSize();
      });
    }

    $(document).ready(function() {
      requestAnimationFrame(redrawMap);
    });

    $(window).on('resize', _.debounce(function() {
      requestAnimationFrame(redrawMap);
    }, 1000));

    var hydrantIcon = L.icon({
      iconUrl: 'http://upload.wikimedia.org/wikipedia/commons/7/78/Hydrant.svg',
      iconSize: [24, 24],
      iconAnchor: [12, 12]
    });
    var map = L.map('map');
    var markers = [];
    var tilePattern = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var dataURL = '/SouthSummitHydrantsLatLng.csv';
    var userLocationMarker;
    var markerGroupLayer;
    tilePattern = 'https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';

    L.tileLayer(tilePattern, {
      maxZoom: 22,
      attribution: 'Built by Akron Civic Hackers',
      id: 'examples.map-i875mjb7'
    }).addTo(map);

    map.on('moveend', _.debounce(function() {
      if (markerGroupLayer) {
        map.removeLayer(markerGroupLayer);
      }

      markerGroupLayer =
        L.layerGroup(_.filter(markers, function(marker) {
          return marker.getLatLng().distanceTo(map.getCenter()) < 1000;
        })).addTo(map);
    }, 500));

    function onLocationFound(e) {
      var radius = e.accuracy / 2;

      if (!userLocationMarker) {
        userLocationMarker = L.circleMarker(e.latlng, radius);
        userLocationMarker.addTo(map);
      } else {
        userLocationMarker.setLatLng(e.latlng);
      }

      map.panTo(e.latlng, 16);
    }

    function onLocationError(e) {
      console.log(e.message);
    }

    function popupInfo(markerOrPopup) {
      var content = '<p>' + markerOrPopup.getLatLng().toString() + '</p>';
      if (userLocationMarker) {
        content += '<p>' + markerOrPopup.getLatLng().distanceTo(userLocationMarker.getLatLng()) + ' meters away</p>';
      }

      return content;
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);
    map.on('popupopen', function(event) {
      event.popup.setContent(popupInfo(event.popup));
    });

    map.setView([40.98701, -81.47086], 16);

    omnivore.csv(dataURL).on('ready', function(layer) {
      this.eachLayer(function(marker) {
        // marker.setIcon(hydrantIcon);
        marker.bindPopup(popupInfo(marker));
        markers.push(marker);
      });
    });

    $('header [data-for="current-location"]').on('click', function(event) {
      event.preventDefault();
      map.locate();
    });

    function lookupAddress(event) {
      event.preventDefault();

      $.ajax('http://maps.googleapis.com/maps/api/geocode/json?address=' + encodeURIComponent($('input[name=address]').val()), {
      }).done(function(data) {
        if (data.results.length > 0) {
          var latLong = [data.results[0].geometry.location.lat, data.results[0].geometry.location.lng];

          if (!userLocationMarker) {
            userLocationMarker = L.marker(latLong);
            userLocationMarker.addTo(map);
          } else {
            userLocationMarker.setLatLng(latLong);
          }

          map.panTo(latLong);
        }
      }).fail(function() { debugger });
    }

    $('header form [type="submit"]').on('click', lookupAddress);
    $('header form').on('submit', lookupAddress);

    $('[data-for="show-more-info"]').on('click', function(event) {
      event.preventDefault();
      $('.more-info').toggleClass('hidden');
    })
  </script>
</body>
</html>
