<!DOCTYPE html>
<html>
<head>
  <title>Coventry Fire Department Hydrants Project</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src='http://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
  <script src="/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" href="/app.css" media="screen, projection">
</head>
<body>
<!--  <a href="#" id="about" style="top:0px;bottom:0px;background:rgba(255,255,255,0.2) url('http://www.hackforchange.org/wp-content/themes/ndoch/images/map-up.png') no-repeat center;width:48px;height:65px;position:absolute;left:50%;margin-left:-24px;z-index:1017;">ABOUT</a>-->
  <header>
    <h1>Hydrants</h1>
    <form>
      <input type="text" placeholder="Enter an address">
      <button type="submit">Search</button>
      <button data-for="current-location">Use Current Location</button>
      <button data-for="display-markers">Show Markers</button>
    </form>
  </header>
  <div id="map"></div>

  <script>
    function redrawMap() {
      $('#map').css('height', $(window).height() - $('header').outerHeight());
      requestAnimationFrame(function() {
        map.invalidateSize();
      });
    }

    $(document).ready(function() {
      requestAnimationFrame(redrawMap);
    });

    $(window).on('resize', _.debounce(function() {
      requestAnimationFrame(redrawMap);
    }, 1000));

    var hydrantIcon = L.icon({
      iconUrl: 'http://upload.wikimedia.org/wikipedia/commons/7/78/Hydrant.svg',
      iconSize: [24, 24],
      iconAnchor: [12, 12]
    });
    var map = L.map('map');
    var markers = [];
    var tilePattern = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var dataURL = '/SouthSummitHydrantsLatLng.csv';
    var userLocationMarker;
    var markerGroupLayer;
    tilePattern = 'https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';

    L.tileLayer(tilePattern, {
      maxZoom: 22,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
      id: 'examples.map-i875mjb7'
    }).addTo(map);

    function onLocationFound(e) {
      var radius = e.accuracy / 2;

      if (!userLocationMarker) {
        userLocationMarker = L.marker(e.latlng);
        userLocationMarker.addTo(map);
      } else {
        userLocationMarker.setLatLng(e.latlng);
      }

      map.panTo(e.latlng);
    }

    function onLocationError(e) {
      console.log(e.message);
    }

    function popupInfo(markerOrPopup) {
      var content = '<p>' + markerOrPopup.getLatLng().toString() + '</p>';
      if (userLocationMarker) {
        content += '<p>' + markerOrPopup.getLatLng().distanceTo(userLocationMarker.getLatLng()) + ' meters away</p>';
      }

      return content;
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);
    map.on('popupopen', function(event) {
      event.popup.setContent(popupInfo(event.popup));
    });

    map.setView([40.98701, -81.47086], 16);

    omnivore.csv(dataURL).on('ready', function(layer) {
      this.eachLayer(function(marker) {
        marker.setIcon(hydrantIcon);
        marker.bindPopup(popupInfo(marker));
        markers.push(marker);
      });
    });

    $('header [data-for="current-location"]').on('click', function(event) {
      event.preventDefault();
      map.locate();
    });

    $('header [data-for="display-markers"]').on('click', function(event) {
      event.preventDefault();

      if (markerGroupLayer) {
        markerGroupLayer.clearLayers();
      }

      markerGroupLayer =
        L.layerGroup(_.filter(markers, function(marker) {
          return userLocationMarker && marker.getLatLng().distanceTo(userLocationMarker.getLatLng()) < 1000;
        })).addTo(map);
    });

    $('header form').on('submit', function(event) {
      event.preventDefault();

      $.ajax('http://maps.googleapis.com/maps/api/geocode/json?address=' + encodeURIComponent($(event.currentTarget).find('input').val()), {
      }).done(function(data) {
        if (data.results.length > 0) {
          var latLong = [data.results[0].geometry.location.lat, data.results[0].geometry.location.lng];

          if (!userLocationMarker) {
            userLocationMarker = L.marker(latLong);
            userLocationMarker.addTo(map);
          } else {
            userLocationMarker.setLatLng(latLong);
          }

          map.panTo(latLong);
        }
      }).fail(function() { debugger });
    });
  </script>
</body>
</html>
